
body {
  margin: 0;
}

a {
  color: white !important;
  font-family: "Josefin Sans", Verdana;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  opacity: 0.5;
}

p {
  font-family: "Josefin Sans", Verdana;
  text-transform: none;
}


#logo-vee {
  padding-bottom: 10px;
}

.top {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40px;
}

.explogos {
  float:right;
  opacity: 0.9;
}

.title {
  font-family: "Ostrich Sans", Verdana !important;

}

.small {
  font-size: 1em;
  color: #aac7d9;
  margin-bottom: 8px;
  font-family: "Josefin Sans", Verdana;
}

.bio {
  padding-right: 20px;
}

.arrow {
  -webkit-animation: bounce 1.9s ease infinite;
  -moz-animation: bounce 1.9s ease infinite;
  animation: bounce 1.9s ease infinite;
  padding-top: 2px;
  height: 20px;
}

.fa-angle-double-down-5x {
  font-size: 200px;
}

.main-section{
  background: url(../images/main-header.jpg) no-repeat center center scroll;
  display: table;
  width: 100%;
  height: 700px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
}

.main-section h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Ostrich Sans", Verdana !important;
  font-weight: bold !important;
  padding-top: 200px;
  color: white !important;
}

.main-section h1:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 1px auto 10px auto;
  border: 2px solid #fff;
  font-family: "Ostrich Sans", Verdana !important;
  font-weight: bold !important;
}

.main-section p {
  font-size: 30px;
  color: #deeef5;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: "Josefin Sans", Verdana;
  padding-bottom: 12px;
}

.small-text {
  font-size: 15px;
  font-family: "Josefin Sans", Verdana;
}

.main-section p {
  font-size: 20px;
}

.main-section h2 {
  font-weight: 100;
  color: #deeef5;
}

.main-section h2 > strong {
  color: white;
}

.section {
  display: block;
}

.section-content {
  padding: 80px 30px 80px 30px;
  display: block;
  overflow: auto;
}

.section-content .content > div {
  padding-left: 50px;
}


.blue-background > .section-content{
  /* background-color: #3295be; */
  opacity: 0.9;
  background: rgba(1, 75, 112, 1);
  background: -moz-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1, 75, 112, 1)), color-stop(100%, rgba(75, 154, 171, 1)));
  background: -webkit-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
  background: -o-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
  background: -ms-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
  background: linear-gradient(to bottom, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014B70', endColorstr='#4B9AAB', GradientType=0 );
}


.content p {
  margin: 0;
  font-size: 18px;
  color: white;
  line-height: 30px;
  letter-spacing: 1px;
}

.title > h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: bold;

}

.edu {
  padding-left: 20px;
}

.white-background .title h1 {
  color: #4b9aab !important;
}


.blue-background .title h1 {
  color: white !important;
  font-family: "Ostrich Sans", Verdana !important;
}

.white-background p {
  color: #4b9aab !important;
}

.white-background h2 {
  font-family: "Ostrich Sans", Verdana !important;
  font-weight: bold !important;
  color: #4b9aab;
}

.title h1:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px 0;
}

.title {
  float: left;
  width: 20%;
  padding-left: 20px;
  padding-top: 20px;
}

.content {
  float: right;
  width: 80%;
  padding-left: 20px;
}

.jobs {
  border: 1px double skyblue;
  border-radius: 40px;
  padding: 20px;
  color: grey;
  margin-bottom: 20px;
  width: 90%;
  position: relative;
  transition: opacity 0.5s;
  -webkit-transition: all ease-in 0.9s;
  -moz-transition: all ease-in 0.9s;
  -o-transition: all ease-in 0.9s;
  -ms-transition: all ease-in 0.9s ;
  transition: all ease-in 0.9s;
}

.inner-jobs {
  padding-left: 8px;
}

.jobs:hover {
  background: rgba(255,255,255,0.1);
}

h2 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.blue-background h2 {
  color: white;
  text-transform: none;
  font-family: "Ostrich Sans", Verdana !important;

}

.blue-background p {
  color: #deeef5;
}

.jobs h2, .jobs img {
  display: inline;
      font-family: "Ostrich Sans", Verdana;

}

.jobs img {
  margin-left: 10px;
}

.jobs a:hover {
  opacity: 0.5;
}

.jobs p {
  color: #95c5db;
}

.skills-row-1:hover {
  color: blue;
  opacity: 0.5;
}

.skills-row-1 {
  height: 110px;
  opacity: 0.9;
  padding:8px;
}

.projects-one {
  margin-left: -25px;
}

.projects-row-1 {
  height: 130px;
  opacity: 0.9;
  padding:5px;
}

.projects-row-1:hover {
  color: blue;
  opacity: 0.5;
}

.dual-col {
  width: 50%;
  float: left;
}

.dual-col h2 {
  color: #2473a0;
  font-size: 15px;
  margin-bottom: 10px;
}

.project-parent {
  /*padding-right: 50px;*/
}

.projects-1 {
  width:200px;
  float: right;


}

.projects-head {
  font-family: "Ostrich Sans", Verdana !important;
  color: #4b9aab;
  float: left;
  font-weight: bold;
  font-size: 28px;
  padding: 20px;

}

.contacts {
  color: #4b9aab;
  height: 50px;
  float: right;
  padding-top: 10px;
  display: block;
  text-align: center;
}


@media only screen and (max-width: 1200px) {
  .title {
      width: 40%;
    }

  .content {
    width: 60%;
  }

  .section-content .content > div {
    padding-left: 0;
  }

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .dual-col {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
    .title, .content {
      width: 100%;
    }

  .section-content .content > div {
    padding-left: 0;
  }

  .title-FE h1 {
    font-family: "Ostrich Sans", Verdana;
  }

  .title-small {
    font-family: "Josefin Sans", Verdana;
  }

  p {
  font-family: "Josefin Sans", Verdana;
  text-transform: none;
}

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .w3-progress-container {
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .main-section h1 {
    font-size: 40px;
  }

  .main-section {
    height: 670px;
  }

}

@media only screen and (max-width: 480px) {
    .title, .content {
      width: 100%;
    }
  .title-FE h1 {
    font-family: "Ostrich Sans", Verdana;
  }

  .title-small {
    font-family: "Josefin Sans", Verdana;
  }

  p {
  font-family: "Josefin Sans", Verdana;
  text-transform: none;
}

  .section-content .content > div {
    padding-left: 0;
  }

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .w3-progress-container {
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .main-section h1 {
    font-size: 40px;
  }

  .main-section {
    height: 670px;
  }

  .projects-one {
  margin-left: -5px;
  }

  .projects-row-1 {
    height: 150px;
    opacity: 0.9;
    padding:8px;
  }

  .projects-row-1:hover {
    color: blue;
    opacity: 0.5;
  }

}


.explogos {
  float:right;
}

.arrow {
  -webkit-animation: bounce 1.9s ease infinite;
  -moz-animation: bounce 1.9s ease infinite;
  animation: bounce 1.9s ease infinite;
  padding-top: 2px;
  height: 20px;
}

.fa-angle-double-down-5x {
  font-size: 200px;
}

/*hover effecs*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Shadow Radial */
.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(75, 154, 171, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-shadow-radial:before, .hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:hover:before, .hvr-shadow-radial:focus:before, .hvr-shadow-radial:active:before, .hvr-shadow-radial:hover:after, .hvr-shadow-radial:focus:after, .hvr-shadow-radial:active:after {
  opacity: 1;
}

/*skills*/
.skills-diagram {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  max-width: 35em;
  margin: 2em auto 2em;
}
.skills-diagram > dd {
  /* Hide inner attributes */
  display: none;
}
.skills-diagram dt {
  display: inline-block;
  vertical-align: top;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  
  /* set defaults to skill-2 */
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.skills-diagram dt:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Support vertical mode */
.skills-diagram-vertical dt {
  display: block;
  /* .25em is an equivalent to inline-block's horizontal whitespace margin */
  margin: .25em auto;
  font-family: "Ostrich Sans", Verdana !important;
}

/* Provide 10 different sizes */


/*bootstrap*/
.skills-diagram .skill-2 {
    background: -moz-linear-gradient(top, #80c5de, #de987f); 
    background: -webkit-linear-gradient(top, #80c5de, #de987f); 
    background: -o-linear-gradient(top, #80c5de, #de987f); 
    background: -ms-linear-gradient(top, #80c5de, #de987f); 
    background: linear-gradient(top, #80c5de, #de987f); color: #000;

}
.skills-diagram .skill-2 {
  width: 5.5em;
  height: 5em;
  line-height: 5em;
  font-family: "Ostrich Sans", Verdana;
  border-color: #80c5de;
  color: white;
  opacity: 0.7;
}
/*sql*/

.skills-diagram .skill-3 {
  background: linear-gradient(90deg, rgb(106, 161, 211), rgb(0, 82, 163));
  background: -webkit-linear-gradient(90deg, rgb(106, 161, 211), rgb(0, 82, 163));
}
.skills-diagram .skill-3 {
  vertical-align: middle;
  opacity: 0.7;
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-family: "Ostrich Sans", Verdana;
  color: white;
}

.skills-diagram .skill-4 {
  background: linear-gradient(90deg, rgb(106, 198, 211), rgb(0, 72, 163));
  background: -webkit-linear-gradient(90deg, rgb(106, 198, 211), rgb(0, 72, 163));
}

.skills-diagram .skill-4 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  font-family: "Ostrich Sans", Verdana;
  background-color: rgba(75, 154, 171, .7);
  border-color: rgba(75, 154, 171, 1);
  color: white;
  opacity: 0.6;
}

.skills-diagram .skill-5 {
  background: linear-gradient(90deg, rgb(106, 176, 221), rgb(51, 136, 148));
  background: -webkit-linear-gradient(90deg, rgb(106, 176, 221), rgb(51, 136, 148));
}

.skills-diagram .skill-5 {
  vertical-align: bottom;
  font-family: "Ostrich Sans", Verdana;
  width: 5em;
  height: 5em;
  line-height: 5em;
  opacity: 0.7;
  border-color: rgba(109, 182, 173, 1);
  color: white;
}

.skills-diagram .skill-6 {
  background: linear-gradient(90deg, rgb(37, 147, 215), rgb(31, 83, 139));
  background: -webkit-linear-gradient(90deg, rgb(37, 147, 215), rgb(31, 83, 139));
}


.skills-diagram .skill-6 {
  vertical-align: top;
  font-family: "Ostrich Sans", Verdana;
  width: 6em;
  height: 6em;
  line-height: 6em;
  opacity: 0.6;
  background-color: rgba(75, 154, 171, 1.5);
  border-color: rgba(75, 154, 171, 1);
  color: white;
}

.skills-diagram .skill-7 {
   background: -moz-linear-gradient(top, #80c5de, #de987f); 
    background: -webkit-linear-gradient(top, #80c5de, #de987f); 
    background: -o-linear-gradient(top, #80c5de, #de987f); 
    background: -ms-linear-gradient(top, #80c5de, #de987f); 
    background: linear-gradient(top, #80c5de, #de987f); color: #000;
}


.skills-diagram .skill-7 {
  width: 8em;
  height: 8em;
  line-height: 8em;
  font-family: "Ostrich Sans", Verdana;
  background-color: rgba(128,0,0, .5);
  color: white;
  opacity: 0.7;
}

.skills-diagram .skill-8 {
  background: linear-gradient(90deg, rgb(106, 198, 211), rgb(0, 72, 163));
  background: -webkit-linear-gradient(90deg, rgb(106, 198, 211), rgb(0, 72, 163));
}


.skills-diagram .skill-8 {
  vertical-align: bottom;
  font-family: "Ostrich Sans", Verdana;
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: rgba(75, 154, 171, .6);
  color: white;
  opacity: 0.6;
}

.skills-diagram .skill-9 {
  background: linear-gradient(90deg, rgb(27, 181, 202), rgb(0, 59, 111));
  background: -webkit-linear-gradient(90deg, rgb(27, 181, 202), rgb(0, 59, 111));
}

.skills-diagram .skill-9 {
  width: 8em;
  height: 8em;
  line-height: 9em;
  font-family: "Ostrich Sans", Verdana;
  background-color: rgba(128,0,0, .7);
  color: white;
  opacity: 0.5;
}

.skills-diagram .skill-10 {
  background: linear-gradient(90deg, rgb(24, 152, 206), rgb(0, 127, 145));
  background: -webkit-linear-gradient(90deg, rgb(24, 152, 206), rgb(0, 127, 145));
}

.skills-diagram .skill-10 {
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: rgba(75, 154, 171, .7);
  color: white;
  opacity: 0.6;
  font-family: "Ostrich Sans", Verdana;
}

/*LOADER*/


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFFFF0;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: lightgrey;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color:lightblue;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    #loader-wrapper .loader-section {
      background: rgba(1, 75, 112, 1);
      background: -moz-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1, 75, 112, 1)), color-stop(100%, rgba(75, 154, 171, 1)));
      background: -webkit-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
      background: -o-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
      background: -ms-linear-gradient(top, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
      background: linear-gradient(to bottom, rgba(1, 75, 112, 1) 0%, rgba(75, 154, 171, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014B70', endColorstr='#4B9AAB', GradientType=0 );
      
      }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
/*        padding-bottom: 50px;
*/        width: 80%;
        max-width: 978px;
    }  






============================================================= */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




